<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.hexagon</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>hexagon</string>
			</array>
		</dict>
	</array>
	<key>CoreSpotlightContinuation</key>
	<true/>
	<key>INIntentsSupported</key>
	<array>
		<string>AddTaskIntent</string>
		<string>GetTaskIntent</string>
		<string>AddNoteIntent</string>
		<string>UpdateNoteIntent</string>
		<string>DeleteNoteIntent</string>
		<string>AddTagIntent</string>
		<string>DeleteTagIntent</string>
		<string>AddLocationIntent</string>
		<string>DeleteLocationIntent</string>
		<string>UpdatePriorityIntent</string>
		<string>DeletePriorityIntent</string>
		<string>UpdateStartDateIntent</string>
		<string>DeleteStartDateIntent</string>
		<string>UpdateEndDateIntent</string>
		<string>DeleteEndDateIntent</string>
		<string>AddPhotoIntent</string>
		<string>DeletePhotoIntent</string>
		<string>AddListIntent</string>
		<string>GetListIntent</string>
		<string>DeleteListIntent</string>
		<string>AddLinkIntent</string>
		<string>DeleteLinkIntent</string>
		<string>UpdateLinkIntent</string>
		<string>AddSubheadingIntent</string>
		<string>DeleteSubheadingIntent</string>
		<string>UpdateSubheadingIntent</string>
		<string>CompleteTaskIntent</string>
		<string>ConfigurationAppIntent</string>
	</array>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Hexagon needs access to your calendar so that you can schedule time for tasks</string>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>plus.circle</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Create a new task</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Add Task</string>
			<key>UIApplicationShortcutItemType</key>
			<string>AddTaskAction</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>calendar</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Today</string>
			<key>UIApplicationShortcutItemType</key>
			<string>TodayAction</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>calendar.day.timeline.left</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Upcoming</string>
			<key>UIApplicationShortcutItemType</key>
			<string>UpcomingAction</string>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Hexagon List Item Transfer</string>
			<key>UTTypeIdentifier</key>
			<string>com.hexagon.listitem</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>hexitem</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Hexagon Reminder Transfer</string>
			<key>UTTypeIdentifier</key>
			<string>com.hexagon.reminder</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Hexagon SubHeading Transfer</string>
			<key>UTTypeIdentifier</key>
			<string>com.hexagon.subheading</string>
		</dict>
	</array>
    <key>Supported Intents</key>
    <array>
        <string>ConfigurationAppIntent</string>
    </array>
</dict>
</plist>
